* {
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Pacifico);

.title {
  font-family: "Pacifico";
  font-weight: norma;
  font-size: 40px;
  text-align: center;
  line-height: 1.4;
  color: #c0392b;
}

.dropdown {
  width: 70%;
  margin: 0 auto;
}

.ui.dropdown .menu .selected.item,
.ui.dropdown.selected {
  color: #c0392b !important;
}

.ui.dropdown .menu > .item:hover {
  color: #c0392b !important;
}

.questions {
  display: grid;
  grid-row-gap: 35px;
  grid-column-gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  padding: 50px;
}

.question-wrapper {
  border-radius: 10px;
  border: 2px solid #c3c6ce;
  padding: 20px;
  cursor: pointer;
  display: inline-block;
  transition-duration: 0.12s;
  transition-property: transform;
}

.question-wrapper:hover {
  border-color: #c0392b;
  background: #c0392b;
  color: white;
  transform: scale(1.1);
}

.question-detail {
  display: flex;
  justify-content: space-between;
}

.question-itself {
  text-align: center;
}

.question-itself {
  font-size: 16px;
}

.qCard {
  text-align: center;
  padding: 50px;
  font-size: 20px;
}

.correct-answer {
  color: #c0392b;
}

.full-question {
  margin-bottom: 40px;
}
